
{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block 'body' %}
<body>
<div class="card mb-3 blog-cont d-flex justify-content-center align-items-center">
  <h1>Scraped Content</h1>
  <div class="blog-img">
  <img src="{{ blog_content.imgsrc}}" class="blog-img1" alt="Scraped Image">
  </div>
 
  
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
     {% for paragraph in blog_content.p %}
     <p class="p">{{ paragraph }}</p>
        
    {% endfor %}
    
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
  
    
        
    
   
</body>

{% endblock %}